# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
instance/
*.db
backups/
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Temp
*.bak
*_OLD
stderr.txt
stdout.txt
url.txt

# Release (binarios muito grandes)
release/windows/*.exe
release/linux/*.AppImage
release/linux/*.raw
release/ferramentas/*.exe
